.row {
  padding: px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/*SKILL PILLS*/

/*style 1*/
.teal-pill {
  color: white;
  margin: 15px;
  height: 28px;
  width: auto;
  padding: 0rem 2rem 2rem 2rem;
  text-align: center;
  border-radius: 25px;
  background-color: teal;
  font-family: "Open Sans";
}

.teal-pill:hover {
  opacity: 0.8;
}

.red-pill {
  color: white;
  margin: 15px;
  height: 28px;
  width: auto;
  padding-top: 5px;
  text-align: center;
  border-radius: 25px;
  background-color: crimson;
  font-family: "Open Sans";
}

.red-pill:hover {
  opacity: 0.8;
}

.purple-pill {
  color: white;
  margin: 15px;
  height: 28px;
  width: auto;
  padding: 0rem 2rem 2rem 2rem;
  text-align: center;
  border-radius: 25px;
  background-color: purple;
  font-family: "Open Sans";
}

.purple-pill:hover {
  opacity: 0.8;
}

.orange-pill {
  color: white;
  margin: 15px;
  height: 28px;
  width: auto;
  padding-top: 5px;
  text-align: center;
  border-radius: 25px;
  background-color: orange;
  font-family: "Open Sans";
}

.orange-pill:hover {
  opacity: 0.8;
}

/*style 2*/
.t-outline-pill {
  color: teal;
  font-weight: 600;
  margin: 15px;
  height: 28px;
  width: auto;
  padding: 0 2rem 2em 2rem;
  justify-items: center;
  text-align: center;
  border-radius: 25px;
  border: 2px solid teal;
  font-family: "Open Sans";
  background-color: none;
  transition: background-color 0.3s, color 0.3s;
}

.t-outline-pill:hover {
  color: white;
  background-color: teal;
}

.r-outline-pill {
  color: crimson;
  font-weight: 600;
  margin: 15px;
  height: 28px;
  width: auto;
  padding-top: 5px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid crimson;
  font-family: "Open Sans";
  background-color: none;
  transition: background-color 0.3s, color 0.3s;
}

.r-outline-pill:hover {
  color: white;
  background-color: crimson;
}

.p-outline-pill {
  color: purple;
  font-weight: 600;
  margin: 15px;
  height: 28px;
  width: auto;
  padding-top: 5px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid purple;
  font-family: "Open Sans";
  background-color: none;
  transition: background-color 0.3s, color 0.3s;
}

.p-outline-pill:hover {
  color: white;
  background-color: purple;
}

.o-outline-pill {
  color: orange;
  font-weight: 600;
  margin: 15px;
  height: 28px;
  width: auto;
  padding: 0rem 2rem 2rem 2rem;
  text-align: center;

  border-radius: 25px;
  border: 2px solid orange;
  font-family: "Open Sans";
  background-color: none;
  transition: background-color 0.3s, color 0.3s;
}

.o-outline-pill:hover {
  color: white;
  background-color: orange;
}

/*style 3*/
.vanilla-pill {
  color: #232f34;
  font-weight: 600;
  margin: 15px;
  height: 28px;
  width: auto;
  padding-top: 5px;
  text-align: center;
  border-radius: 25px;
  font-family: "Open Sans";
  background-color: #eef1f3;
}

/*style 4*/
.circle-pill {
  color: #232f34;
  font-weight: 600;
  margin: 15px;
  height: 30px;
  width: 150px;
  padding-top: 5px;
  text-align: center;
  border-radius: 25px;
  font-family: "Open Sans";
  background-color: #eef1f3;
}

#circle {
  float: left;
  width: 28px;
  height: 28px;
  margin-left: 3px;
  margin-top: -1.5px;
  text-align: center;
  border-radius: 50%;
  background-color: #bada55;
}

/*edit margin-left on #text per pill to make the text centered
  different words need different left margins*/
#text {
  margin-left: -25px;
}

/*style 5*/
.t-van-pill {
  color: #008080;
  font-weight: 600;
  margin: 15px;
  height: 28px;
  width: auto;
  padding: 0rem 2rem 2rem 2rem;
  text-align: center;
  text-align: center;
  border-radius: 25px;
  font-family: "Open Sans";
  background-color: #b2d8d8;
}

.r-van-pill {
  color: #941010;
  font-weight: 600;
  margin: 15px;
  height: 28px;
  width: auto;
  padding-top: 5px;
  text-align: center;
  border-radius: 25px;
  font-family: "Open Sans";
  background-color: #ff948f;
}

.p-van-pill {
  color: #5b3c8c;
  font-weight: 600;
  margin: 15px;
  height: 28px;
  width: auto;

  text-align: center;
  border-radius: 25px;
  font-family: "Open Sans";
  background-color: #cbc2dd;
}

.o-van-pill {
  color: #fa6121;
  font-weight: 600;
  margin: 20px;
  height: 28px;
  width: auto;
  padding: px;
  text-align: center;
  border-radius: 25px;
  font-family: "Open Sans";
  background-color: #ffcc99;
  justify-items: center;
  padding: 0rem 2rem 2rem 2rem;
  text-align: center;
}
